version: "3"

volumes:
  local_postgres_data2:


services:
  app:
    image: arhangel662/devops-for-programmers-project-74
    build:
      context: .
      dockerfile: Dockerfile.production
    command: bash -c 'echo "sleep" && sleep 3 && echo "starting" && npm test'
    depends_on:
      - db
    env_file: app/.env

  db:
    image: postgres:latest

    ports:
      - "5432:5432"

    volumes:
      - local_postgres_data2:/var/lib/postgresql/data

    env_file: app/.env
